/*
*{
	background-color: lightblue;
}*/
#container{
	
}
	#header{
		background: brown;
		padding: 20px 10px;
		color: white;
		display: inline-block;
		width: 100%;
	}

	#get{
		padding-top: 5%;
		padding-bottom: 10%;
		font-size: 20px; 

	}
	#green{
		color: green;
	}

	#enhance{
		padding-bottom: 10%;
	}

	#div5{
		padding-bottom: 5%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.box{

		background-color: black;
		text-align: center;

	}

	body{
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		font-family: arial, verdana, sans-serif;
	}

	#left{
		float: left;
		padding-left: 5%;
		display: inline-block;
	}

	#right{
		float:right;
		padding-right: 5%;
/*		display: inline-block;*/
	}
	#bright{
		float:right;
		padding-right: 75px;
	}

	.lefth{
		float: left;
		margin-right: 125px;
	}

	.righth{
		float: right;
		margin-right: 75px;

	}

	#middle{

		text-align: center;
		width: 100%;
	}

	#footer{
		background: brown;
		color: white;
		display: inline-block;
		width: 100%;
		text-align: center;
		justify-content: center;

	}

	#services{
		width: ;
		text-align: center;
		padding-left: 10%;
		padding-right: 5%;

	}

	#contact{
		float: left;
	}


	#icons{
		float: right;
	}

	.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.module {
  /* Demo-Specific Styles */
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 200px;
  width: 400px
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

img{
	height: 100px;
/*	display: inline-block;
	float: left;*/
}

.theight{
	padding-top: 45px
	padding-bottom: 45px;
	padding-right: 5%;
	font-size: 75%;
	width: 100%;
	text-align: left;
	padding-left: 5%;

}

.foo
{
    padding-right: 20px;
}

.button5 {border-radius: 50%;}

#bleft{
	float: left;
	padding-left: 125px;
	text-align: left;
	padding-bottom: 3%;
	font-size: 20px;
}

#bheader{
	
	/*	padding: 20px 10px;*/
		display: inline-block;
			width: 100%;
	}

#bright{
/*	padding-right: 10px;*/
}

#left2{
		float: left;
		padding-left: 5%;
		margin-left: 550px;
		display: inline-block;
	}

footer ul {
  list-style: none;
  float: left;
  padding-right: 4%;
}
footer h3 {
  font-weight: 100;
  margin-bottom: 0;
}

#left11{
	text-align: left;
}

ul li { padding:5px; }

.gbutton{
	background-color: green;
}

.shadow{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.down{
	padding-top: 20px;
}